


{% extends 'base.html' %}

{% load static %}


{% block content %}
<h3 class="text-success" align="center">{{user}}</h3>
<h1>all cart item</h1>

<h3>Total item :{{items.count}}</h3>


<table border="05" align="center" class="table table-success">
    
    <tr > 
        <thead class="thead-dark">
            <th>SR. NO</th>
          <!--  <th>Cart id</th> -->
            <th>Product_Name</th>
            <th>Image</th>
            <th>Price</th>

            <th>Quantity</th>
            
            <th>Remove</th>
        </thead>
    </tr>
    {%for item in items%}
    <tr>
        <td>{{forloop.counter}}</td>
       <!-- <td>{{item.id}}</td> -->
        <td>{{item.product.productname}} </td>
        <td><a href="/checkout{{item.id}}"><img src="{{ item.product.image.url }}" height="50px" width="50"> </a> </td>
        <td>{{item.product.price}}</td>
        <td> 
            <p>
                <a href="/itemquantityremove{{item.id}}"><button class="btn-dark">-</button></a>
                 {{item.quantity}}
            
            <a href="/itemquantityplus{{item.id}}"><button class=" btn-success">+</button></a>
            </p>
        </td>

        <td><form method="POST" action="/delete_cart_item">
            {% csrf_token%} 
          <input type="hidden" name="id" value="{{item.id}}">
          <input type="submit" class="btn btn-danger" value="Remove" >
        </form>
           <!-- <a href="/delete_cart_item/{{item.id}}" >Remove</a></td> -->
    </tr> {%endfor%}
   
</table>
<h5 align="center">total price: {{total}}  <a href="/" >continue shoping</a> </h5> 

{% endblock %}
